[Unit]
Description=CI/CD Assignment
After=syslog.target

[Service]
User=root
ExecStart=/usr/bin/java -jar home/ec2-user/cloud-computing-assgn-1-0.0.1-SNAPSHOT.jar
SuccessExitStatus=143
Restart=always
RestartSec=5

[Install] 
WantedBy=multi-user.target